<modal-dialog show='modalShown'>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label class="hidden">ID</label><input type="hidden" class="form-control" ng-model="agent.id"
                                            ng-disabled="item.id"/>
                </div>
                <div class="form-group">
                    <label>Name</label><input type="text" class="form-control" ng-model="agent.name"/>
                </div>
                <div class="form-group">
                    <label>Username</label><input type="text" class="form-control" ng-model="agent.username"/>
                </div>
            </form>
        </div>
        <button ng-click="save()">SAVE</button>
    
</modal-dialog>
<button ng-click="new()" class="btn btn-primary">NEW AGENT</button>
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody ng-repeat="agent in agents">
            <tr>
                <td>{{ agent.id }}</td>
                <td>{{ agent.name }}</td>
                <td><button ng-click="edit(agent)" class="btn btn-warning">EDIT</button></td>
                <td><button ng-click="delete(agent)" class="btn btn-danger">DELETE</button></td>
            </tr>
        </tbody>
    </table>
