<snap ng-repeat="page in pages"><button ng-click="goto(page)">{{page}}</button></snap>
<!--<div ng-show="showInvoice">-->

<!--</div>-->
<th colspan="2"><button ng-click="new()" class="push-right">NEW INVOICE</button></th>
<table class="table">
  <thead class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>InvoiceNo.</th>
      <th>Date</th>
      <th>Shipped</th>
      <th>Status</th>
      <th>Vat</th>
      <th>Shipping</th>
      <th>Agent</th>
      <th>Customer</th>
      <th>Shipper</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invoice in invoices">
      <th>{{ invoice.id }}</th>
      <td>{{ invoice.invoiceNo }}</td>
      <td>{{ invoice.date }}</td>
      <td>{{ invoice.shippedOn }}</td>
      <td>{{ invoice.statusId }}</td>
      <td>{{ invoice.vat }}</td>
      <td>{{ invoice.shipping }}</td>
      <td>{{ invoice.agent }}</td>
      <td>{{ invoice.customer }}</td>
      <td>{{ invoice.shipper }}</td>
      <td class="col-md-1"><a href="" ng-click="edit(invoice)"></i>EDIT</a></td>
      <td class="col-md-1"><a href="" ng-click="delete(invoice)"></i>DELETE</a></td>
    </tr>
  </tbody>
</table>


<modal-dialog show='modalShown'>

    
         <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label class="hidden">ID</label><input type="hidden" class="form-control" ng-model="invoice.id"
                                            ng-disabled="item.id"/>
    <div class="form-group">
		<label>Shipped On</label><input type="date" class="form-control" ng-model="invoice.date"/></div>
   
   <div class="form-group">
                    <label>Status Id</label><input type="number" class="form-control" ng-model="invoice.statusId"/>
                </div>
    <div class="form-group">
                    <label>Date</label><input type="date" class="form-control" ng-model="invoice.price"/>
    <div class="form-group">
                    <label>Vat</label><input type="number" class="form-control" ng-model="invoice.vat"/>
                </div>  
    <div class="form-group">
                    <label>Shipping</label><input type="number" class="form-control" ng-model="invoice.vat"/>
                </div> 
    <div class="form-group">
                    <label>Agent</label>
                    <select ng-model="invoice.agentId" class="form-control"
                            ng-options="agent.id as agent.name for agent in agents"></select>
                </div>
    <div class="form-group">
                    <label>Shipper</label>
                    <select ng-model="invoice.shipperId" class="form-control"
                            ng-options="shipper.id as shipper.name for shipper in shippers"></select>
                </div>            
        <!--<div>SupplierId:<input type="text" ng-model="procurement.supplierId"></div>-->
    <div class="form-group">
                    <label>Customer</label>
                    <select ng-model="invoice.customerId" class="form-control"
                            ng-options="customer.id as customer.name for customer in customers"></select>
                </div>
    <div class="form-group">
                    <label>Sub-total</label><input type="number" class="form-control" ng-model="invoice.subtotal"/>
                </div>
     <div class="form-group">
                    <label>Vat-Amount</label><input type="number" class="form-control" ng-model="invoice.vatAmount"/>
                </div>           
     <div class="form-group">
                    <label>Total</label><input type="number" class="form-control" ng-model="invoice.total"/>
                </div>           
        
    <div><hr style="float:right"><button ng-click="save()">SAVE</button></div>
    
</modal-dialog>