<div ng-show="showInvoice">
    <table style="border:solid 1px blue">
        <tr><td align="right">Id: </td><td><b>{{ invoice.id }}</b></td></tr>
        <tr><td align="right">Invoice No: </td><td><input type="text" ng-model="invoice.invoiceNo"></td></tr>
        <tr><td align="right">Shipped On: </td><td><input type="datetime" ng-model="invoice.shippedOn"></td></tr>
        <!--<tr><td align="right">Status: </td><td><input type="text" ng-model="invoice.status"></td></tr>-->
        <tr><td align="right">Status Id: </td><td><input type="number" ng-model="invoice.statusId"></td></tr>
        <tr><td align="right">Date: </td><td><input type="datetime" ng-model="invoice.date"></td></tr>
        <tr><td align="right">Vat: </td><td><input type="number" ng-model="invoice.vat"></td></tr>
        <tr><td align="right">Shipping: </td><td><input type="number" ng-model="invoice.shipping"></td></tr>
        <tr><td align="right">Agent Id: </td><td><input type="text" ng-model="invoice.agentId"></td></tr>
        <tr><td align="right">Customer Id: </td><td><input type="text" ng-model="invoice.customerId"></td></tr>
        <tr><td align="right">Shipper Id: </td><td><input type="text" ng-model="invoice.shipperId"></td></tr>
        <tr><td align="right">Sub-total: </td><td><input type="number" ng-model="invoice.subTotal"></td></tr>
        <tr><td align="right">Vat-Amount: </td><td><input type="number" ng-model="invoice.vatAmount"></td></tr>
        <tr><td align="right">Total: </td><td><input type="number" ng-model="invoice.total"></td></tr>
        <!--<tr><td align="right">Agent: </td><td><input type="text" ng-model="invoice.agent"></td></tr>
        <tr><td align="right">Shipper: </td><td><input type="text" ng-model="invoice.shipper"></td></tr>
        <tr><td align="right">Customer: </td><td><input type="text" ng-model="invoice.customer"></td></tr>-->
        <tr><td></td><td><button ng-click="save()">SAVE</button></td></tr>
    </table>
</div>


<div class="row" ng-repeat="invoice in invoices">
    <div class="col-md-1">{{ invoice.id }}</div>
    <div class="col-md-2">{{ invoice.invoiceNo }}</div>
    <div class="col-md-2">{{ invoice.date }}</div>
    <div class="col-md-2">{{ invoice.shippedOn }}</div>
    <div class="col-md-2">{{ invoice.status }}</div>
    <!--<div class="col-md-2">{{ invoice.subTotal }}</div>-->
    <div class="col-md-2">{{ invoice.vat }}</div>
    <!--<div class="col-md-2">{{ invoice.vatAmount }}</div>-->
    <div class="col-md-2">{{ invoice.shipping }}</div>
    <!--<div class="col-md-2">{{ invoice.total }}</div>-->
    <!--<div class="col-md-2">{{ invoice.agentId }}</div>-->
    <div class="col-md-2">{{ invoice.agent }}</div>
    <!--<div class="col-md-2">{{ invoice.customerId }}</div>-->
    <div class="col-md-2">{{ invoice.customer }}</div>
    <!--<div class="col-md-2">{{ invoice.shipperId }}</div>-->
    <div class="col-md-2">{{ invoice.shipper }}</div>
    <div class="col-md-1"><a href="" ng-click="edit(invoice)">edit</a></div>
    <button ng-click="delete(invoice)">DELETE</button>

</div>
<button ng-click="new()">NEW INVOICE</button>