<snap ng-repeat="page in pages"><button ng-click="goto(page)">{{page}}</button></snap>
<button ng-click="new()" class="btn btn-primary" data-toggle="modal" data-target="#myModalNew" style="margin-bottom: 10px;">NEW INVOICE</button>
<style>
.table td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
</style>
<table class="table table-bordered" style="counter-reset: serial-number;">
        <thead>
            <tr>
                <th>#</th>
                <th>Invoice No</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Status</th>
				<th>Vat</th>
              	<th>Shipping</th>
               	<th>Agent</th>
                <th>Shipper</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody ng-repeat="invoice in invoices">
            <tr>
                <td></td>
                <td>{{invoice.invoiceNo}}</td>
                <td>{{invoice.date }}</td>
                <td>{{invoice.customer}}</td>
				<td>{{invoice.total | currency:"KM ":2}}</td>
                <td>{{invoice.status}}</td>
                <td>{{invoice.vat}}</td>
                <td>{{invoice.shipping}}</td>
                <td>{{invoice.agent}}</td>
                <td>{{invoice.shipper}}</td>
                <td><button ng-click="edit(invoice)" class="btn btn-warning" data-toggle="modal" data-target="#myModalNew">EDIT</button></td>
                <td><button ng-click="delete(invoice)" class="btn btn-danger">DELETE</button></td>
            </tr>
        </tbody>
    </table>

<!--START OF MODAL-->
<div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">


      <div class="modal-dialog" ng-show="shownInvoices"> 
		 <div class="modal-content">
			    <!-- Modal Header -->
        		 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Creating invoice {{invoice.invoiceNo}}
                    </h4>
                </div>
        		<!-- Modal Body -->
        		<div class="modal-body">
        		 <form role="form">
						<div class="form-group">
						<label class="hidden">ID</label><input type="hidden" class="form-control" ng-model="invoice.id"
						   ng-disabled="invoice.id"/>
						</div>
						<div class="form-group">
						<label>Invoice No</label><input type="text" class="form-control" ng-model="invoice.invoiceNo"/>
						</div> 
						<div class="form-group">
						<label>Customer</label>
						<select ng-model="invoice.customerId" class="form-control"
								ng-options="customer.id as customer.name for customer in customers"></select>
						</div>
						<div class="form-group">
						<label>Date</label><input type="date" class="form-control" ng-model="invoice.price"/>
						</div>
						<div class="form-group">
						<label>Agent</label>
						<select ng-model="invoice.agentId" class="form-control"
								ng-options="agent.id as agent.name for agent in agents"></select>
						</div>
						<div class="form-group">
						<label>Vat</label><input type="number" class="form-control" ng-model="invoice.vat"/>
						</div>
						<div class="form-group">
						<label>Shipped On</label><input type="date" class="form-control" ng-model="invoice.shippedOn"/>
						</div>
						<div class="form-group">
						<label>Shipper</label>
						<select ng-model="invoice.shipperId" class="form-control"
								ng-options="shipper.id as shipper.name for shipper in shippers"></select>
						</div>
						<div class="form-group">
						<label>Shipping</label><input type="number" class="form-control" ng-model="invoice.shipping"/>
						</div>  

						<div class="form-group">
						<label>Status</label><input type="text" class="form-control" ng-model="invoice.status"/>
						</div>
						
						<div>
						<div class="pull-left">Shipping:</div><div class="pull-right"><b>{{ invoice.shipping | number:2 }}</b></div>
						<div style="clear:both"></div>
						<div class="pull-left">Subtotal:</div><div class="pull-right"><b>{{ invoice.subTotal | number:2 }}</b></div>
						<div style="clear:both"></div>
						<div class="pull-left">VAT amount:</div><div class="pull-right"><b>{{ invoice.vatAmount | number:2 }}</b></div>
						<div style="clear:both"></div>
						<div class="pull-left">Invoice total:</div><div class="pull-right"><b>{{ invoice.total | number:2 }}</b></div>
            			</div>
				</form>
             			<div ng-show="invoice.id">
						<hr>
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-4">Product</div>
							<div class="col-md-1">Quantity</div>
							<div class="col-md-1">Unit</div>
							<div class="col-md-1">Price</div>
							<div class="col-md-2 text-right">Subtotal</div>
						</div>
						<hr>
						<div ng-repeat="item in invoice.items" class="row grid-i">
							<div class="col-md-1"></div>
							<div class="col-md-4">
								<input type="text" ng-model="item.product" size="30">
							</div>
							<div class="col-md-1">
								<input ng-model="item.quantity" size="5" type="text" />
							</div>
							<div class="col-md-1">
								{{ item.unit }}
							</div>
							<div class="col-md-1">
								<input ng-model="item.price" size="5" type="text" />
							</div>
							<div class="col-md-2 text-right">
								<b>{{ item.subTotal | number:2 }}</b>
							</div>
							<div class="col-md-2">
								<div class="pull-left"><button type="button" ng-click="saveItem(item)" class="btn btn-xs btn-success">+</button></div>
								<div class="pull-right"><button type="button" ng-click="removeItem(item)" class="btn btn-xs btn-danger">-</button></div>
							</div>
						</div>
						<div class="row grid-i">
							<div class="col-md-1"></div>
							<div class="col-md-4">
							
								<input type="text" ng-model="selectedProduct" placeholder="Enter product" size="30"
									   typeahead="product as product.id for product in getProducts($viewValue)">
							</div>
							<div class="col-md-1">
								<input ng-model="newItem.quantity" size="5" type="text" />
							</div>
							<div class="col-md-1">
								{{ newItem.unit }}
							</div>
							<div class="col-md-1">
								<input ng-model="newItem.price" size="5" type="text" />
							</div>
							<div class="col-md-2 text-right">
								<b>{{ newItem.subTotal | number:2 }}</b>
							</div>
							<div class="col-md-2">
								<div class="pull-left"><button type="button" ng-click="saveItem(newItem)" class="btn btn-xs btn-success">+</button></div>
							</div>
						</div>
        		</div>
             		
              </div>
			    
			    
			    <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Close </button>
                    <button type="button" class="btn btn-primary" ng-click="save()" onclick="$('.modal').modal('hide')">Save</button>
                </div>
		</div>	  
      </div>
    
    
</div>
<!--END OF MODAL-->

























