   
 <div ng-show="showShipper">
    <table style="border:solid 1px blue">
        <tr><td align="right">Id: </td><td><b>{{ shipper.id }}</b></td></tr>
        <tr><td align="right">Name: </td><td><input type="text" ng-model="shipper.name"></td></tr>
        <tr><td align="right">Address: </td><td><input type="text" ng-model="shipper.address"></td></tr>
        <tr><td align="right">Town: </td><td><select ng-model="shipper.townId" ng-options="town.id as town.name for town in towns"></select></td></tr>
        <tr><td></td><td><button ng-click="save()">SAVE</button></td></tr>
    </table>
</div>
<!--<div ng-include="'views/navigator.html'"></div>-->
<button ng-click="new()" class="btn btn-primary">NEW SHIPPER</button>
<table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Address</th>
                <th>Town</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody ng-repeat="shipper in shippers | filter:selector | orderBy:sort">
            <tr>
                <td>{{ shipper.id }}</td>
                <td>{{ shipper.name }}</td>
                <td>{{ shipper.address }}</td>
                <td>{{ shipper.town }}</td>
                <td><button ng-click="edit(shipper)" class="btn btn-warning">EDIT</button></td>
                <td><button ng-click="delete(shipper)" class="btn btn-danger">DELETE</button></td>
            </tr>
        </tbody>
    </table>
