<div ng-show="showSupplier">
    <table style="border:solid 1px blue">
        <tr><td align="right">Id: </td><td><b>{{ supplier.id }}</b></td></tr>
        <tr><td align="right">Name: </td><td><input type="text" ng-model="supplier.name"></td></tr>
        <tr><td align="right">Address: </td><td><input type="text" ng-model="supplier.address"></td></tr>
        <tr><td align="right">Town: </td><td><select ng-model="supplier.townId" ng-options="town.id as town.name for town in towns"></select></td></tr>
        <tr><td></td><td><button ng-click="save()">SAVE</button></td></tr>
    </table>
</div>

<div ng-include="'views/navigator.html'"></div>

<div ng-repeat="supplier in suppliers | filter:selector | orderBy:sort">
    <div class="col-md-1">{{ supplier.id }}</div>
    <div class="col-md-2">{{ supplier.name }}</div>
    <div class="col-md-2">{{ supplier.address }}</div>
    <div class="col-md-2">{{ supplier.town }}</div>
    <div class="col-md-1"><a href="" ng-click="getSupplier(supplier)">edit</a></div>
    <button ng-click="delete(supplier)">DELETE</button>    
</div>
