<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" class="rel">
  
    <!--End of Modal-->
    <!-- NEW Agent Modal -->
    <div class="modal fade" id="myModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Creating agent {{agent.name}}
                    </h4>
                </div>
                
                
                
                
                
                <!-- Modal Body -->
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label class="hidden">ID</label>
                            <input type="hidden" class="form-control" ng-model="agent.id" ng-disabled="agent.id" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="agent.name" />
                        </div>
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" ng-model="agent.username" />
                        </div>
                    </form>
                </div>
                
                
                
                
                
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                </button>
                    <button type="button" class="btn btn-primary" ng-click="save()" onclick="$('.modal').modal('hide')">
                    Create
                </button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Modal-->
   