<div ng-show="showAgent">
    <table style="border:solid 1px blue">
        <tr><td align="right">Id: </td><td><b>{{ agent.id }}</b></td></tr>
        <tr><td align="right">Name: </td><td><input type="text" ng-model="agent.name"></td></tr>
        <tr><td align="right">Username: </td><td><input type="text" ng-model="agent.username" ng-disabled></td></tr>
        <tr><td></td><td><button ng-click="save()">SAVE</button></td></tr>
    </table>
</div>

<div class="row" ng-repeat="item in agents">
    <div class="col-md-1">{{ item.id }}</div>
    <div class="col-md-2">{{ item.name }}</div>
    <div class="col-md-1"><a href="" ng-click="getAgent(item)">edit</a></div>
    <button ng-click="delete(agent)">DELETE</button> 

</div>
<button ng-click="new()">NEW AGENT</button>
